<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/scripts.js"></script>
    <title>ebay</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/javascripts/controllers.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>

    <meta http-equiv="Cache-Control"
          content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <script src="angularjs/placeOrders.js"></script>
</head>
<style>
    .class {
        font-family: "Times New Roman", Times, serif;
    }
</style>

<body ng-app="placeOrder" ng-controller="placeController">

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <img src="https://pbs.twimg.com/profile_images/698397813672058881/vpt3vjf3.jpg" alt="Mountain View" style="width:100px;height:100px;"> <font size ="8"><small></small>
            </font>          </div>
        <div>
            <div class="col-md-3">
                Hi <%=firstname%>! <a href="/signout"><p>signout</a></p>
            </div>

        </div> <br> <br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" >
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size ="5"><small></small></font>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-11" >
                    <div  class = "well" >
                        <div class = "row">
                            <div class="col-md-11 col-md-offset-1">
                                <h1>Thanks You. Your Order has been placed. <%=firstname%>  <%=lastname%></h1><br><br>
                                <h4> <%=username%>will receive the email confirmation shortly  <%=email%>  </h4><br><br>
                                <p>.....................................................................................................................................................................................</p>
                                <p> <img src="https://image.freepik.com/free-icon/delivery-truck_318-61634.png" style="width:50px;height:50px;"><b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbspEstimatd delivery date within <font color="blue">3-5 business days</font></b> </p>
                                <p> <img src="http://ebayamazon.jp/wordpress/wp-content/uploads/2015/07/bp.jpg" style="width:50px;height:50px;"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbspYour order is covered by ebay protection <font color="blue"> Learn more </font></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>
